@use 'custom' as *;
@use 'utils/utils' as m;

.planes{
    h2{
        display: inline-block;
        @include m.headingBorder($white, $primary);
    }
}

.plan{
    h3{
        font-size: 3rem;
    }
    padding: 16rem 4rem 4rem 4rem;
    .precio{
        font-size: 1.8rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    &.inicio{
        @include m.bgIcono('../img/icono_inicio.svg');
    }
    &.pro{
        @include m.bgIcono('../img/icono_pro.svg');
    }

    &.negocio{
        @include m.bgIcono('../img/icono_negocio.svg');
        @include media-breakpoint-up(md){
            margin-top: -5rem;
            margin-bottom: -5rem;
            border-radius: 2rem;
        }
    }
}